<form action="/tools/read" method="post">
    <div class="form-group">
        <label for="selectExcel">Select excel file</label>
        <input type="file" id="fileSelect" name="excelFile">
        <input type="submit">
    </div>
</form>