<div class="content">
    <header>
        <h3 class="title">Escanear código:</h3>
    </header>
    <section>
        <canvas hidden="" id="qr-canvas" class="img-fluid"></canvas>
    </section>
</div>