<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{! FONT AWESON }}
    <link rel="stylesheet" type="text/css" href="/fa/all.cs">
    {{! BOOSTRAP 4v}}
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
    {{! MY CSS STYLE }}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Inventory generator</title>
</head>
<body class="body"> 
    {{{ body }}}

    {{!-- SCRIPTS --}}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
</body>
</html>